html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4,1fr);
    border: 2px solid black;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2,1fr);
    border: 4px solid blue;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.searchbar{
    display: flex;
    align-items: center;
}

input[type="image"]{
    margin-right: 10px;
}

.header form{
    padding-top:30px;
    padding-left: 40px;
}

.right-side-profile{
    padding-top:30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    
}


#bell{
    display: flex;
    padding-top: 5px;
}

.left-side-profile{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.profile{
    padding-top: 20px;
}

.profile h2{
   margin-top: 5px;
}

.profile p{

    margin-bottom:5px;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.right-side-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sidebar{
    border: 4px solid red;
    grid-column: 1 / 2;
    grid-row: 1 / 5;

}


.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.dashboard img{
    margin-right: 10px;
}

.sidebar-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.dashboard-bottom{
    margin-top: 50px;
}


.main-section{
    display: grid;
    border: 4px solid green;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 5;


}

.announcements{
    border: 4px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending{
    border: 4px solid purple;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}